{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block title_block %}
    Task Details
{% endblock  %}

{% block body_block %}
    <h3>Task name: {{ task.title }} </h3>
    <br>
    <small>Assinged under: {{ task.project.name }}</small>
    <br>
    <small>Assigned to: {{ task.assigned_to }}</small>
    <p>{{ task.description }}</p>
    <p>Priority: {{task.priority}}</p>
    <p>Status: {{ task.status }}</p>
    <small>Created at: {{ task.created_at }}</small>
    <br>
    <small>Due date: {{ task.due_date }}</small>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h6>Post a comment: </h6>
            <a class="btn btn-success btn-sm" href="{% url 'app_management:post_comment' pk=task.pk %}">Post a comment</a>
           
        </div>
        <div class="col-sm-6">
            <h6>User comments: </h6>
            {% for comment in task.task_comments.all %}
                <p class="mt-5"><a href="{% url 'app_management:comment_details' task_pk=task.pk pk=comment.pk %}">{{comment.content}}</a></p>
                <p>Posted by: <small>@{{comment.user.username}} - {{ comment.created_at }}</small></p>
            {% endfor %}
            
        </div>
    </div>
   

{% endblock  %}